<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>Chifoumi</title>
</head>
<body>
    <header>
        <img src="./images/rock-paper-scissors.png" alt="logo" width="" >
        <h1><span>P</span>ierre <span>P</span>apier <span>C</span>iseaux <span>L</span>ézard <span>S</span>pock</h1>
    </header>
    <nav>
        <a href="/accueil">ACCUEIL</a>
        <a href="/jouer">JOUER</a>
    </nav>
    <main>
        <section class="bloc-du-message">
            <p id="espace-message"></p>
        </section>
        <section >
            <div id="identification">
                <form id="formulaire">
                    <label for="pseudo">Saisir votre pseudo : </label>
                    <input type="text" name="pseudo" id="pseudo" maxlenght="20" minlength="4"><br>
                    <input type="submit" value="Envoyer">
                </form>
            </div>
        
            <div id="joueur1">
                <p id="idJoueur1">&spades; <span></span></p>
                <p id="scoreJoueur1">Score : <span></span></p>
            </div>
            <div id="conteneur1">
                <div id="lezard" class="lezard"></div>
                <div id="pierre" class="pierre"></div>
                <div id="ciseaux" class="ciseaux"></div>
                <div id="papier" class="papier"></div>
                <div id="spock" class="spock"></div>
            </div>

            <div id="plateau">
                <div id="espaceJoueur1"></div>
                <div id="espaceJoueur2"></div>
            </div>

           
            <div id="conteneur2">
                <div id="lezard" class="lezard"></div>
                <div id="pierre" class="pierre"></div>
                <div id="ciseaux" class="ciseaux"></div>
                <div id="papier" class="papier"></div>
                <div id="spock" class="spock"></div>
            </div>
            <div id="joueur2">
                <p id="idJoueur2">&clubs; <span></span></p>
                <p id="scoreJoueur2">Score : <span></span></p>
            </div>
        </section>
        <section>
            <p id="espace-message"></p>
        </section>

    </main>
    <footer>
        <p>Site réalisé par KaraDev 92</p>
        <p>Sources des images</p>
    </footer>
    <script src="./socket.io/socket.io.min.js"></script>
    <script src="./javascripts/frontjouer.js"></script>
</body>
</html>