<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>Chifoumi</title>
</head>
<body>
    <header>
        <img src="./images/rock-paper-scissors.png" alt="logo" width="" >
        <h1><span>P</span>ierre <span>P</span>apier <span>C</span>iseaux <span>L</span>ézard <span>S</span>pock</h1>
    </header>
    <nav>
        <a href="/accueil">ACCUEIL</a>
        <a href="/jouer">JOUER</a>
    </nav>
    <main>
        <section >
            <div class="champsJoueur1">
                <div class="identification"></div>
                    <form id="formulaire">
                        <label for="pseudo">Saisir votre pseudo : </label>
                        <input type="text" name="pseudo" id="pseudo" maxlenght="20" minlength="4"><br>
                        <input type="submit" value="Envoyer">
                    </form>
                </div>
                <div class="joueur1">
                    <p><span>&spades;</span> </p>
                    <p>Score : </p>
                    <p>Durée du jeu : </p>
                    <div id="conteneur">
                        <div class="lezard"></div>
                        <div class="pierre"></div>
                        <div class="ciseaux"></div>
                        <div class="papier"></div>
                        <div class="spock"></div>
                        
                    </div>
                </div>
            </div>
            <div id="plateau"></div>
            <div class="joueur2">
                <p><span>&clubs;</span> </p>
                <p>Score : </p>
                <p>Durée du jeu : </p>
            </div>
        </section>

    </main>
    <footer>
        <p>Site réalisé par KaraDev 92</p>
        <p>Sources des images</p>
    </footer>
    <script src="./socket.io/socket.io.min.js"></script>
    <script src="./javascripts/frontjouer.js"></script>
</body>
</html>